@import './partials/navigation';
@import './partials/home';
@import './partials/colors';
@import './partials/profile';
@import './partials/interests';
@import './partials/projects';
@import './partials/recommendation';



html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $background;
}

*, *::before, *::after {
    box-sizing: inherit;
}


